aiocache==0.12.3
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
attrs==25.3.0
azure-core==1.33.0
azure-cosmos==4.9.0
azure-storage-blob==12.25.1
bcrypt==4.2.1
black==25.1.0
build==1.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
docutils==0.22
ecdsa==0.19.0
fastapi==0.115.6
frozenlist==1.6.0
h11==0.14.0
id==1.5.0
idna==3.10
iniconfig==2.1.0
isodate==0.7.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
keyring==25.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.7.0
multidict==6.4.3
myawesomelib @ https://florist.blob.core.windows.net/bb-products/myawesomelib-1.0.0-py3-none-any.whl#sha256=88afb3ed5a76fcf754cfaae989096449abde84028b50931974d9ec4153dd5d8e
mypy==1.14.1
mypy-extensions==1.0.0
nh3==0.3.0
numpy==2.3.2
numpy-financial==1.0.0
packaging==24.2
passlib==1.7.4
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.6.0
propcache==0.3.1
pyasn1==0.6.1
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
Pygments==2.19.2
PyJWT==2.10.1
pyproject_hooks==1.2.0
pytest==8.4.1
python-dotenv==1.0.1
python-jose==3.3.0
python-json-logger==3.2.1
python-multipart==0.0.20
pytz==2025.2
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.1.0
rsa==4.9
six==1.17.0
sniffio==1.3.1
starlette==0.41.3
structlog==25.1.0
tqdm==4.67.1
twine==6.1.0
typing_extensions==4.12.2
urllib3==2.4.0
uvicorn==0.34.0
yarl==1.20.0
